.xe-quote {
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 2px;
    background-color: #fffff0;
    position: relative;
}

.xe-quote p {
    margin: 0;
}

.xe-quote img {
    float: left;
    width: 5em;
    height: 4em;
    object-fit: cover;
    object-position: top;
    margin-right: 1em;
}

/* ~ */
hr {
  border: none;
  height: 0;
  background-color: transparent;
  border-top: 0;
  text-align: center;
  margin-top: -0.2em;
  margin-bottom: 1.5em;
}

hr::before {
  content: "~";
  font-size: 3em;
  line-height: 0.1em;
  letter-spacing: 0.6em;
  color: #ccc;
  padding: 0.2em 0.6em;
}

.rant-gets-smaller span {
  font-size: 92%;
}
